<template>
	<div>
		<v-text-field
			v-if="edit"
			:type="type"
			:id="id"
			:field="field"
			:value="valueLocal"
			@blur.native="valueLocal = $event.target.value; edit = false; $emit('input', valueLocal);"
			@keyup.enter.native="saveSite(this)"
			v-focus
			solo
		></v-text-field>
		<span v-else @click="edit = true;">{{valueLocal}}</span>
	</div>
</template>

<script>
	export default {
		props: ["type", "id", "field", "value"],

		data() {
			return {
				edit: false,
				valueLocal: this.value
			};
		},
		watch: {
			value: function() {
				this.valueLocal = this.value;
			}
		},
		directives: {
			focus: {
				inserted(el) {
					el.focus();
				}
			}
		}
	};
</script>
