<template>
	<v-flex xs12 md6 lg6>
		<v-card
			class="mx-2 my-1 light site complete ${status}"
			nuxt
			:href="link"
			raised
			v-ripple
			outlined
		>
			<v-card-title>
				<span class="headline">{{title}}</span>
			</v-card-title>
			<v-card-text>
				<slot name="body"></slot>
			</v-card-text>
		</v-card>
	</v-flex>
</template>

<script>
	export default {
		props: ["id", "title", "link", "status"],
		methods: {}
	};
</script>

<style scoped>
	.site.complete {
		border-left: 4px, green;
	}
</style>