<template>
	<div class="container">
		<h1>List of Sites</h1>
		<v-container>
			<v-layout row wrap justify-space-between>
				<template>
					<VCard
						:title="site.title"
						:id="site.id"
						:link="'/admin/sites/'+site.id"
						v-for="site in sites"
						:key="site.id"
					>
						<template #body>
							<span class="font-weight-bold">{{site.domain}}</span>
							- {{site.meta_description}}
						</template>
					</VCard>
				</template>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
	import axios from "axios";
	import VCard from "@/components/VCard";
	export default {
		layout: "admin",
		components: {
			VCard
		},
		async fetch({ store }) {
			await store.dispatch("sites/fetchAllSites");
		},
		computed: {
			sites() {
				return this.$store.state.sites.all;
			}
		}
	};
</script>

<style scoped>
</style>