<template>
  <v-app>
    <AdminNavbar />
    <v-content>
        <nuxt />
    </v-content>


    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
    <v-snackbar
      v-for="(snackbar, index) in snackbars.filter(s => s.showing)"
      :key="snackbar.text + Math.random()"
      v-model="snackbar.showing"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :style="`bottom: ${(index * 60) + 8}px`"
    >
      {{snackbar.text}}
      <v-btn text @click="snackbar.showing = false">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import AdminNavbar from "@/components/admin/AdminNavbar";
export default {
  components: {
    AdminNavbar
  },
  head: {
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      { title: "Nuxtapp" }
    ],
    link: [
      {
        rel: "stylesheet",
        href: "https://fonts.googleapis.com/css?family=Roboto"
      }
    ]
  },
  computed: {
    ...mapState({
      snackbars: state => state.snackbar.snackbars
    })
  }
};
</script>
