<template>
	<nav>
		<v-app-bar app flat color="gray lighten--2">
			<v-app-bar-nav-icon class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
			<v-toolbar-title class="grey--text">
				<span class="font-weight-light">ebay</span>
				<span>Ninja</span>
			</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn to="/admin" class="mx-1">Home</v-btn>
			<v-btn to="/admin/sites" class="mx-1">Sites</v-btn>
			<v-btn to="/admin/settings" class="mx-1">Settings</v-btn>

			<div v-if="$auth.loggedIn">
				{{ $auth.user.email.trim() }}
				<!-- username -->
				<v-btn class="mx-1" color="info" @click="$auth.logout()">
					<span>Logout</span>
					<v-icon right light>mdi-exit-to-app</v-icon>
				</v-btn>
				<!-- logout button -->
			</div>
			<div v-else>
				<v-btn class="mx-1" text to="/login">Login</v-btn>
				<v-btn class="mx-1" text to="/register">Register</v-btn>
				<!-- login -->
				<!-- register -->
			</div>
		</v-app-bar>
		<v-navigation-drawer v-model="drawer" app class="primary">
			<v-list-item-group>
				<v-list-item class="py-4" v-for="link in links" :key="link.title" :to="link.route">
					<v-list-item-action>
						<v-icon dark>{{link.icon}}</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>{{link.title}}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list-item-group>
		</v-navigation-drawer>
	</nav>
</template>

<script>
	export default {
		data() {
			return {
				drawer: false,
				links: [
					{ icon: "mdi-view-dashboard", title: "Dashboard", route: "/admin" },
					{ icon: "mdi-settings", title: "Settings", route: "/admin/settings" },
					{ icon: "mdi-view-grid", title: "Sites", route: "/admin/sites" }
				]
			};
		},
		async asyncData({ $axios, error }) {
			try {
				const data = await $axios.$get("/adminpages");
				console.log(data);
				return { links: data };
			} catch (error) {
				console.log("error", error);
			}
		}
	};
</script>

<style>
</style>