<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-center">Home page</div>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  components: {}
};
</script>
