<template>
  <v-container>
    <h1>Login</h1>
    <UserAuthForm buttonText="Login" :submitForm="loginUser" />
  </v-container>
</template>

<script>
import UserAuthForm from "@/components/admin/UserAuthForm";
export default {
  layout: "admin",
  components: {
    UserAuthForm
  },
  methods: {
    loginUser(loginInfo) {
      try {
        this.$auth.loginWith("local", {
          data: {
            identifier: loginInfo.email,
            password: loginInfo.password
          }
        });
        this.$store.dispatch("snackbar/setSnackbar", {
          color: "green",
          text: `Thanks for signing in, ${this.$auth.user.email}`
        });
        console.log(JSON.stringify($auth.user));
      } catch {
        this.$store.dispatch("snackbar/setSnackbar", {
          color: "red",
          text: `There was an error with your login credentials or account. Please try again, ${this.$auth.user.username}`
        });
      }
    }
  }
};
</script>

<style>
</style>