<template>
  <v-container>
    <h1>Register</h1>

    <UserAuthForm buttonText="Register" :submitForm="registerUser" :hasName="true" />
  </v-container>
</template>

<script>
import UserAuthForm from "@/components/admin/UserAuthForm";

export default {
  components: {
    UserAuthForm
  },
  methods: {
    async registerUser(registrationInfo) {
      try {
        await this.$axios.post("/auth/local/register", registrationInfo);
        // await this.$axios.post("/auth/send-email-confirmation", {
        //   data: {
        //     email: loginInfo.email
        //   }
        // });
        this.$store.dispatch("snackbar/setSnackbar", {
          text: `Thanks for signing up, ${context.$auth.user.username}. You can login once your account has been confirmed.`
        });
        setTimeout(function() {
          this.$router.push("/login");
        }, 5000);
        this.$router.push("/login");
      } catch {
        this.$store.dispatch("snackbar/setSnackbar", {
          color: "red",
          text: "There was an issue signing up.  Please try again."
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>