<template>
	<div class="container">
		<h1>Title</h1>
	</div>
</template>

<script>
	import axios from "axios";

	export default {
		layout: "admin",
		middleware: ["auth-admin"],
		components: {},
		headers: {},
		data() {
			return {
				title: "",
				domain: "",
				meta_description: ""
			};
		},
		async asyncData({ $axios, error }) {
			try {
				const data = await $axios.$get("/sites");
				console.log(data);
				return { sites: data };
			} catch (error) {
				console.log("error", error);
			}
		},
		methods: {}
	};
</script>

<style>
</style>