<template>
  <div class="container" id="sitevue">
    <h1>Title</h1>
  
  <v-row>
      <v-card v-for="site in sites" :key="site.id">
        <v-card-title>
            <span v-model="site.title" :v-text="site.title" class="headline text-capitalize">{{site.title}}</span>
        </v-card-title>
        <v-card-text>
            <div v-for="(value, name, index) in site" :key="index" >
            <v-text-field class="text-capitalize" :label="name" :value="value" @keyup.enter="updateSite(site)"></v-text-field>
            <p>[{{index}}] {{name}}: {{value}}</p>
            </div>

        <p>{{site.domain}}</p>
         </v-card-text>
      </v-card>
  </v-row>
  </div>
  
</template>

<script>
import axios from 'axios'
//import Vue from 'vue'

/* 
var sitevue = new Vue({
        el: '#sitevue',
        data: {
            sites: [ 
            {
                title: "Used Ultrasound Systems",
                domain: "used-ultrasound-machines.com",
                theme: "Genesis"
                }
        ]
        }
    });
*/

export default {    
        head: {
            title: "Test Page"
        },
        components: {
        
        },
        data() {
            return {
                    sites: [
                        {
                            title: "",
                            domain: "",
                            theme: ""
                            }                    
                    ]
            }
        },
        async asyncData ({context, params}) {  
            let self = this
                try {
                    const { data } = await axios.post('http://localhost:1337/graphql', 
                    {
                        query: `{
                            sites {
                                id
                                title
                                domain
                                theme
                                meta_description
                                meta_keywords
                            }
                        }`
                    })
                    
                    console.log(data.data.sites)
                    return{ sites: data.data.sites, params, context }

                } catch(error) {
                    console.log("error", error)
                }
            
            },
        methods: {
            async updateSite(site, context, params) {  
                console.log(context)
                
                try {
                    axios.post('http://localhost:1337/graphql', 
                    {
                        query:  `
                        mutation updateSite($id: ID!) {
                                site(id: $id) {
                                    title
                                    domain
                                    theme
                                }
                            }`,
                        variables: {
                            "id": site.id
                        }

                    }).then((result) => {
                         return{sites:  result.data}
                        console.log(result.data)

                    })
                    
                    
                    //this.site = data.site
                    //return{ site: result.data, params, context }

                } catch(error) {
                    console.log("error", error.message)
                    console.log("error", error.graphQLErrors)
                }
                
  
            },
            consoleLog(data) {
                console.log(data)

            }

        }       
   
}



</script>

<style>

</style>