<template>
  <div class="container" id="sitevue">
    <h1>Title</h1>

    <v-row>
      <v-card v-for="(site, id) in sites" :key="site.id">
        <v-card-title>
          <span
            v-model="site.title"
            :v-text="site.title"
            class="headline text-capitalize"
          >{{site.title}}</span>
          <v-btn color="primary" @click="updateSite(site)">Save</v-btn>
        </v-card-title>
        <v-card-text>
          <p>{{site.domain}}</p>
        </v-card-text>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
export default {
  head: {
    title: "Test Page"
  },
  components: {},
  data() {
    return {
      sites: [
        {
          title: "",
          domain: "",
          theme: "",
          meta_description: ""
        }
      ]
    };
  },
  async asyncData({ $axios, error }) {
    try {
      const data = await $axios.$get("http://localhost:1337/sites");
      console.log(data);
      return { sites: data };
    } catch (error) {
      console.log("error", error);
    }
  },
  methods: {
    async updateSite({ $axios, error, rawData }) {
      console.log(JSON.stringify(rawData));
      const data = await $axios.put(
        "http://localhost:1337/sites/" + site.id,
        site
      );

      //console.log(data)
    },
    consoleLog(data) {
      console.log(data);
    }
  }
};
</script>

<style>
</style>