<template>
	<div class="container my-5">
		<h1>
			Site ID:
			<ClickToEdit :field="site.title" :id="site.id" :value="site.title" v-model="site.title" />
		</h1>
	</div>
</template>

<script>
	import axios from "axios";
	import ClickToEdit from "@/components/ClickToEdit";
	export default {
		layout: "admin",
		data() {
			valueLocal: "";
		},
		components: {
			ClickToEdit
		},
		computed: {
			sites() {
				return this.$store.state.sites.all;
			}
		},
		methods: {
			// async saveSite(value) {
			// 	this.$data.value = value;
			// 	try {
			// 		const data = await this.$axios({
			// 			method: "PUT",
			// 			url: `/sites/${this.$route.params.id}`,
			// 			data: JSON.stringify(this.$data)
			// 		});
			// 		this.$data.value = "";
			// 	} catch (error) {
			// 		console.log("error", error);
			// 	}
			// 	this.$store.dispatch("snackbar/setSnackbar", {
			// 		color: "red",
			// 		text: `this.$data.site.title = ${this.$data.site.title}
			// 				this.value = ${this.$data.valueLocal}`
			// 	});
			// }
		},
		data() {
			return {
				site: {
					id: "",
					title: "Title",
					domain: "domain.com",
					meta_description: "Default description of the site."
				}
			};
		},
		async asyncData({ $axios, error, params }) {
			try {
				const data = await $axios.$get(`/sites/${params.id}`);
				console.log(data);
				return { site: data };
			} catch (error) {
				console.log("error", error);
			}
		}
	};
</script>

<style>
</style>